body {
  font-family: 'DejaVu Sans Mono';
  font-size: 16pt;
  font-weight: 400;
  font-style: normal;
  background: black;
  color: white;
}
div {
  padding-left: 1em;
  text-indent: -1em;
}
div.join {
  color: green;
}
div.part, div.quit {
  color: brown;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
